
.checkout{
    display: flex;
    padding:20px;
}

.checkout__right{
    flex:1;
}

.checkout__left > img{
    width:100%;
}

.checkout__title{
    font-size:30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.checkout__title:after{
    background: #dddd none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    width: 98%;
}

@media only screen and (max-width: 768px) {
    .checkout{
        flex-direction: column;
    }


}